
.navbar.navbar-fixed-top.head
    .container.main-nav
        .navbar-header
            a.navbar-brand(href="/") 博客
        nav.collapse.navbar-collapse
            ul.nav.navbar-nav
                //管理员
                if (user && user.role > 10)
                    li
                        a(href="/admin/userList") 用户管理
                    li
                        a(href="/admin/addCategory") 增加分类
                    li
                        a(href="/admin/categoryList") 分类列表
                else
                    if categories
                        each item in categories
                            li
                                a(href="/category/?cId=#{item._id}") #{item.name}
                    li
                        a(href="/user/addArticle") 写文章
            p.navbar-text.navbar-right
                if user
                    a.navbar-link(href="/user/userinfo")
                        i.fa.fa-user
                        |#{user.name}
                    a.navbar-link(href="/user/logout")
                        i.fa.fa-sign-out
                        |登出
                else
                    a.navbar-link(href="#",data-toggle="modal",data-target="#signin")
                        i.fa.fa-user
                        |登录
                    a.navbar-link(href="#",data-toggle="modal",data-target="#signup")
                        i.fa.fa-sign-out
                        |注册
#signup.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/users/signup",enctype="multipart/form-data")
                .modal-header 注册
                    button(type="button" class="close",data-dismiss="modal")
                        span &times;
                .modal-body
                    .form-group
                        div.font-position
                            input#signupName.form-control(name="user[name]",type="text",placeholder='用户名')
                            i.fa.fa-user
                    .form-group
                        div.font-position
                            input#signupEmail.form-control(name="user[email]",type="email",placeholder="邮箱")
                            i.fa.fa-envelope-o
                    .form-group
                        div.font-position
                            input#signupPassword.form-control(name="user[password]",type="password",placeholder="密码")
                            i.fa.fa-key
                    .from-group
                        span.sl-custom-file
                            input.btn-file(type="button" value="上传头像")
                            input.ui-input-file(type="file",name="headPortrait")
                    button.btn.btn-default.signupButton(type="submit") 注册

                .modal-footer


#signin.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/users/signin")
                .modal-header 登录
                    button(type="button" class="close",data-dismiss="modal")
                        span &times;
                .modal-body
                    .form-group
                        div.font-position
                            input#signinName.form-control(name="user[name]",type=text,placeholder="用户名")
                            i.fa.fa-user
                    .form-group
                        div.font-position
                            input#signinPassword.form-control(name="user[password]",type="password",placeholder="密码")
                            i.fa.fa-key
                    button.btn.btn-default.signinButton(type="submit") 登录
                .modal-footer
                    span.pull-left.signupTitle 没有账号？
                    a.pull-left.signupSpan(href="/user/signup") 注册
                    a.pull-right(href="/user/passwordretireval") 忘记密码?


