extends  layout

block content
    .container
        .row
            form(method="POST",action="/user/addArticle")
                input(type="hidden",name="article[author]",value="#{user._id}")
                .form-group
                    label(for="articleTitle") 标题
                    input#articleTitle.form-control(type="text",name="article[title]")
                .form-group
                    label 分类
                    div
                        each item in categories
                            label.radio-inline
                                input(type="radio",name="article[category]",value="#{item._id}")
                                | #{item.name}
                .form-group
                    label(for="articleIntroduction") 简介
                    textarea#articleIntroduction.form-control(type="text",rows="3",name="article[introduction]")
                .form-group
                    label(for="articleContent") 内容
                    textarea#articleContent.form-control(type="text",rows="5",name="article[content]")
                button.btn.btn-default(type="submit") 保存
