doctype html
html
  head
    block head
      title= title
      link(href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/head.css')
      script(src="/javascripts/jquery.min.js")
      script(src="/javascripts/bootstrap.min.js")
  body
    include ./heads/head
    block content
