extends layout

block content
    .container
        .row
            form(method="POST",action="/user/sendEmail")
                .form-group
                    label(for="userName") 昵称
                    input#userName.form-control(type="text",name="user[name]")
                .form-group
                    label(for="userEmail") 邮箱
                    input#userEmail.form-control(type="text",name="user[email]")
                p 提交后，密码将发送到您的邮箱
                button.btn.btn-default(type="submit") 提交
            if message
                span.alert-danger #{message}