extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/sign.css')

block content
    .container
        .row
            .col-md-4.col-md-offset-4.sign
                form(method="POST",action="/users/signup",enctype="multipart/form-data")
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="headPortrait") 上传头像
                        input#headPortrait(type="file",name="headPortrait")
                    .form-group
                        label(for="signupEmail") 邮箱
                        input#signupEmail.form-control(name="user[email]",type="email")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]",type="password")
                    button.pull-right.btn.btn-default(type="submit") 提交
