/*文章*/
.col-md-8{
    margin-top:20px;
}
.main-content-list {
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

.headPortrait span {
    margin: 5px;
}

.headPortrait img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.main-content-list p {
    font-size: 13px;
    display: inline-block;
    margin:15px 0px 0px 3px;
}

.main-content-list p span.category {
    display: inline-block;
    padding: 0px 6px;
    color: #ea6f5a;
    font-size: 10px;
    width: auto;
    height: 20px;
    margin: 0 auto;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
    vertical-align: middle;
    font-weight: 400;
}

.main-content-list span.time {
    color: #969696;
}

.main-content-list h4.article-title a {
    color: #0593d3;
    font-weight: 700;
}

.main-content-list p.introduction {
    line-height: 24px;
}
.main-content-list .picture{
    display: block;
    overflow: hidden;
    width: 150px;
    height:130px;
    margin-top:25px;
}
.main-content-list .picture  img{
    width: 100%;
    height:100%;
    vertical-align: middle;
    border-radius: 4px;
}


/*分页*/
.paging {
    width: 100%;
    display: table;
    text-align: center;
}

ul.pagination {
    display: inline-block;
}